data/target/
data/other/
data/metadata/
data/processed/

experiments/models/
experiments/logs/

!data/.gitkeep
!data/target/.gitkeep
!data/other/.gitkeep
!data/metadata/.gitkeep
!data/processed/.gitkeep

__pycache__/
*.pyc

.env
precentation