data/target/*
data/other/*
data/metadata/*
data/processed/*

experiments/models/*
experiments/logs/*
experiments/evaluation/*

!data/.gitkeep
!data/target/.gitkeep
!data/other/.gitkeep
!data/metadata/.gitkeep
!data/processed/.gitkeep

!experiments/.gitkeep
!experiments/models/.gitkeep
!experiments/log/.gitkeep
!experiments/evaluation/.gitkeep

__pycache__/
*.pyc

.env
precentation